<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Kontakt</h3>
                        <ul class="alt">
                            <li><a href="impressum.html">Impressum</a></li>
                            <li><a href="mailto:kontakt@ifg2000.de?subject=Mitglied%20werden">E-Mail</a></li>
                            <li><a href="mailto:kontakt@ifg2000.de?subject=Mitglied%20werden">Mitglied werden</a></li>
                            <li><a href="mailto:kontakt@ifg2000.de?subject=Ich%20war%20heute%20am%20Gelben%20Berg%20fiegen.">Flugbuch Gelber Berg</a></li>
                        </ul>
                    </div>
                    <!-- <div class="6u">
                    </div>
                    -->
                </div>
            </div>
            <div class="6u">
                 <ul class="icons">
                    <!--
                    <li><a href="https://www.facebook.com/Ifg2000-846517772165642/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
<!--
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
-->
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; IFG2000 e. V.</li>
            <li>Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
        </ul>
    </div>
</footer>
